.instructors .section-header-container {
    display: flex;
    gap: 2.5em;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.instructors-container {
    margin-top: 2.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}
.instructor-card {
    width: calc((100% - 3em) / 4);
}
.instructors-image-sec {
    background: #12376b40;
    height: 13em;
    position: relative;
    border-radius: 0.8em 0.8em 0 0;
}
.instructors-image-sec img {
    position: absolute;
    width: 100%;
    height: 14em;
    object-fit: contain;
    bottom: 0;
}
.instructors-content {
    padding: 2em;
    background: var(--secondary-color);
}
.instructors-content h3 {
    margin-bottom: 0.5em;
    font-weight: 700;
}
.instructors-content p {
    color: var(--gray-color-card-text);
}